html{
  font-size: max(1em, 1.2vw);
}
.w-100 {
  width: 99vw !important;
  height: auto;
}
.h-90 {
  width: 100vw !important;
  height: 88vh !important;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100%;
  }
#contentPanel{
  padding: 5vh;
  max-width: 70%;
  
  margin: auto;
  border:solid black 2px;
}
#projectList{
  display: flex;
  flex-flow: column wrap;
  max-height:32vh;  
  width:fit-content;
  min-width: 25%;
}

.box{
  border:solid black 2px;
  padding: 1vh;
}
.projectItem{
  min-width: 100%;
  margin: 1vh;
}
#calender{
  height:60vh;
}
#projectDetails{
  height:30vh;
}
#projectStats{
  height:40vh;
}
#taskList{
  display: flex;
  flex-flow: column wrap;
  height:60vh;
}
.tasksItem{
  min-width: 100%;
  margin: 2vh;
}
video{
  border: 1px solid lightgray;
  width: 100%;
  background-color: #eee;
  display: none;
}